<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 헤더 html 플러그인  -->
<div th:replace="~{ /header.html :: header }"> </div>

<div class="container"> <!-- container 부트스트랩 css -->

    <!-- btn btn-primary 부트스트랩 css -->
    <button class="btn btn-primary" type="button" onclick="location.href='/board/write' "> 글쓰기 </button>

    <table class="table"> <!-- table 부트스트랩 css -->
        <thead>
        <tr>
            <th> 번호 </th>
            <th> 제목 </th>
            <th> 작성자 </th>
            <th> 조회수 </th>
            <th> 작성일 </th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <!-- 페이징 버튼 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">이전</a></li>
            <li class="page-item"><a class="page-link" href="/board?cno=1&page=1">1</a></li>
            <li class="page-item"><a class="page-link" href="/board?cno=1&page=2">2</a></li>
            <li class="page-item"><a class="page-link" href="/board?cno=1&page=3">3</a></li>
            <li class="page-item"><a class="page-link" href="#">다음</a></li>
        </ul>
    </nav>

</div>

<script src="/js/board/board.js"> </script>

</body>
</html>