<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 썸머노트 api 에 필요한 css 임포트 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.css"/>

</head>
<body>

    <!-- 헤더 html 플러그인  -->
    <div th:replace="~{ /header.html :: header }"> </div>

    <div class="container"> <!-- container 부트스트랩 css -->
        <form>
            <select class="form-select cno">
                <option value="1"> 뉴스 </option>
                <option value="2"> 이벤트 </option>
                <option value="3"> FAQ </option>
                <option value="4"> 튜토리얼 </option>
                <option value="5"> 사용자리뷰 </option>
            </select> <br/>
            <input  type="text" class="form-control btitle " placeholder="게시물 제목 입력해주세요." /><br/>

            <!-- 썸머노트 id가 포함된 마크업 넣기 -->
            <textarea id="summernote" name="editordata" class="bcontent"></textarea> <br/>

            <button class="btn btn-primary" type="button" onclick="onWrite()"> 게시하기 </button>
        </form>
    </div>

    <!-- JQUERY = (자바스크립트 기반의 라이브러리) 최신 버전 임포트 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 썸머노트 api 에 필요한 JS 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/summernote-bs5.min.js"></script>
    <!-- 썸머노트 API 한글 메뉴 JS 임포트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.9.1/lang/summernote-ko-KR.min.js"></script>
    <!-- 내가 만든 JS 임포트 -->
    <script src="/js/board/write.js" > </script>

</body>
</html>