.채팅내용구역{
    border : 3px solid #f9f9f9; /*테두리*/
    height : 700px;  /* .높이 */
    background-color : #b2c7d9; /*배경*/
    overflow-y : scroll; /*하위 요소가 커지면 자동으로 세로 스크롤 사용*/
    padding : 20px;
}
.secontent{
    text-align : right; /* 가로 정렬 */
}
.secontent .content{
    background-color : #ffeb33
}
.recontent{
    text-align : left;  /* 가로 정렬 */
}
.content{
    background-color : #ffffff;
    border-radius : 10px ;
    padding : 10px;
    display : inline-block;
    font-size : 18px;
    margin: 0px 0px 20px 2px;
}
.date{
    font-size : 8px;
    text-align : center;
    padding : 10px;
    margin = 0 auto;
    width : 100px;
}
.profileImg > img {
     /* rounded-circle 부트스트랩 사용 가능 */
     width : 50px;
     height : 50px;
     border-radius : 30px;
     object-fit : cover;
}
.receiveBox{
    display : flex;
}
/* 알람 */
.alarm{
    background-color : #a9bdce;
    text-align : center;
    font-size : 11px;
    padding : 5px;
    width : 400px;
    margin : 10px auto;
}
/* 입력상자 */
.bottomBox{
    display : flex;
    margin-bottom : 100px;
}
.메시지작성구역{
    width : 90%;
    padding : 10px;
}
/* 전송 버튼 */
.bottomBox > button{
    width : 10%;
    background-color : #ffeb33;
    border : none;
}


















